#square1 {
	height: 800px;
	width: 35%;
	background: #384aeb;
}
#square2 {
	height: 730px;
	width: 30%;
	background: url("cart1.png");
	background-size: cover;
	background-position: center;
	margin-top: -730px;
	margin-left: 200px;
}
#square3{
	height: 800px;
	width: 65%;
	background: #f1f6f7;
	margin-left: 35%;
	margin-top: -800px;
}
.navbar-default {
	background-color: white;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	/*border: 1px solid red;*/
	margin: 0;
	border: none;
	box-shadow: 3px 4px 20px rgba(0, 0 , 0, 0.05);
}
.navbar-default .navbar-brand {
	font-weight: 800;
	font-weight: bold;
	color: black;

}
.fa-mobile{
	color: #384aeb;
	

}
.main{
	padding-top: 4.2%;
	padding-left: 0;
	padding-right: 0; 
}
#content {
	margin-left: 50%;
	margin-top: -600px;
}
#trending{
	text-align: left;
	padding-top: 900px;
	
}
#topSelling{

}
#trendingSpan{
	border-bottom: 2px solid #384aeb;
	padding-bottom: 9px;
}
.row{
	padding-top: 50px;
	margin-left: 0;
	margin-right: 0;
}
.thumbnail{
	border: none;
}
.btn-primary{
	background-color: #384aeb;
	border-radius: 20px;
	border: none;
}
.slider-one{
	/*height: 100px;*/
}
.footer{
	background: #002347;
	height: 600px;
}
.autoplay{
	padding-left: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.foot{
	background: #002347;
	height: 300px;
	margin-top: 30px;
}
.btn-primary:hover {
	color: black;
	background: #f1f6f7;
	/*border: 1px solid #384aeb;*/
}
.navbar-default .navbar-nav>li>a:hover{
	color: #384aeb;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}


/*Login Page Styling*/

#leftLogin {
	height: 650px;
	width: 570px;
	background: #384aeb;
	margin-left: 200px;
	margin-top: 95px;
}
#rightLogin{
	height: 650px;
	width: 570px;
	background: #f1f6f7;
	margin-left: 770px;
	margin-top: -670px;
}
.createAccount{
	padding-top: 45%;
}
.createAccount .btn-primary{
	margin-top: 40px;
	border: 0.5px solid white;
}
.createAccount h2, p{
	color: white;
}
.createAccount .btn-primary:hover{
	background: #c5322d;
	color: white;
	border: none;
}
#loginForm{
	padding-left: 150px;
	padding-top: 5%;
}
#logIn{
}
#inputEmail3{
	background: #f1f6f7;
	border-radius: 10px;
	border: 0.5px solid #384aeb;
}
#inputPassword3{
	background: #f1f6f7;
	border-radius: 10px;
	border:  0.5px solid #384aeb;
}
#log {
	/*margin-top: 50px;*/
	padding-top: 230px;
}
.btn-danger{
	background-color: rgba(0,0,0, 0.8) ;
	border-radius: 20px;
	border: none;
}
.loginSubmit .btn-primary:hover{
	background: #c5322d;
	color: white;
}