/*HTML*/
html{
	scroll-behavior: smooth;
}
/*HTML*/


/*Home Page */
#square1 {
	height: 800px;
	width: 35%;
	background: #384aeb;
}
#square2 {
	height: 730px;
	width: 30%;
	background: url("cart1.png");
	background-size: cover;
	background-position: center;
	margin-top: -730px;
	margin-left: 200px;
}
#square3{
	height: 800px;
	width: 65%;
	background: #f1f6f7;
	margin-left: 35%;
	margin-top: -800px;
}
.navbar-default {
	background-color: white;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	/*border: 1px solid red;*/
	margin: 0;
	border: none;
	box-shadow: 3px 4px 20px rgba(0, 0 , 0, 0.05);
}
.navbar-default .navbar-brand {
	font-weight: 800;
	font-weight: bold;
	color: black;

}
.fa-mobile{
	color: #384aeb;
	

}
.main{
	padding-top: 4.2%;
	padding-left: 0;
	padding-right: 0; 
}
#content {
	margin-left: 50%;
	margin-top: -600px;
}
#trending{
	text-align: left;
	padding-top: 900px;
	
}
#topSelling{

}
#trendingSpan{
	border-bottom: 2px solid #384aeb;
	padding-bottom: 9px;
}
.row{
	padding-top: 50px;
	margin-left: 0;
	margin-right: 0;
}
.thumbnail{
	border: none;
}
.btn-primary{
	background-color: #384aeb;
	border-radius: 20px;
	border: none;
}

.slider-one{
	/*height: 100px;*/
}

.autoplay{
	padding-left: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.foot{
	background: #002347;
	height: 300px;
	margin-top: 30px;
}
.btn-primary:hover {
	color: black;
	background: #f1f6f7;
	/*border: 1px solid #384aeb;*/
	font-weight: bold;
	transition: all 0.4s;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #384aeb;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}
.slid1 {
	margin-bottom: 30px;
}
#img1{
	height: 500px;
	width: 765px;
	margin-left: auto;
	margin-right: auto;
}
#img2{
	height: 500px;
	width: 885px;
	margin-left: auto;
	margin-right: auto;
}
#img3{
	height: 500px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.slick-track{
	height: 500px;
}
.brandLogo {
	height: 150px;
	width: 150px;
}
.cherishedBrand{
	margin-top: 100px;
	margin-bottom: 80px;
}
.slider2{
	margin-bottom: -220px;
}
.tImg{
	transition: transform 0.6s;
}
.tImg:hover{
	transform: scale(1.2);
}
/*Homme Page*/

/*Login Page Styling*/
.signInPage{
	margin-top: 150px;
	margin-bottom: 100px;
}
.myRow{
	height: 600px;
/*	box-shadow: 0px -10px 20px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1);*/
	padding-top: 0px;
}
.createAccount{
	background: #384aeb;
	height: 600px;
}
.signIn{
	background: white;
	height: 600px;
	box-shadow: 0px 13px 50px -24px rgba(0,0,0,0.1),
				10px 0px 50px -24px rgba(0,0,0,0.1),
				0px -8px 50px -24px rgba(0,0,0,0.1);
				

}

.btnCreate{
	border: 1px solid white;
	border-radius: 20px;
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 40%;
}
.btnCreate:hover{
	background: #c5322d;
	border: none;
	color: white;
	font-weight: normal;
	transition: all 0.5s;
}
.myRow h2{
	margin-top: 0px;
}
.myRow h5{
	margin-top: 20px;
	
}
.cA{
	margin-top: 40%;
}

.sI{
	margin-top: 20%;

}
.inpp{
	margin-top: 80px;
}
.inp{
	margin-top: 30px;
}
#keepMeLoggedIn{
	margin-left: 20px;
}
#inputBorder{
	border: none;
	border-bottom: 1px solid #384aeb;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	outline: none;
}
.btnSignIn{
	width: 60%;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 20px;
}
.btnSignIn:hover{
	background: white;
	border: 1px solid #384aeb;
	transition: all 0.4s;
}
/*Login Page Styling*/
.text-center .crtAc{
	margin-top: 20%;
}
/*Create an account*/
.crtAc
/*Footer Styling*/
.elemen{
	margin-bottom: 100px;
}
/*Footer Styling*/

/*Product Page*/
#phoneImage{
	height: 600px;
	transition: transform 1s;
}
#phoneImage:hover{
	transform: scale(1.2);
}
.phoneBox{
	margin-top: 50px;
	border: none;
}
.phoneDetails{
	margin-top: 80px;
}
.numberBorder{
	border: 0.5px solid #384aeb;
	border-radius: 20px;
	width: 40px;
	margin-top: 20px;
	margin-left: 10px;
}
.finalBuy{
	margin-left: 50px;
	/*margin-top: 20px;*/
}
.finalBuy:hover{
	border: 1px solid #384aeb;
	background: white;
	font-weight: bold;
}
#techData{
	margin-top: 70px;
	margin-bottom: 70px;
}
/*product page*/

/*Delivery address page*/
.selectAddress{
	margin-top: 80px;
}

.deliveryData{
	padding-bottom: 20px;
}
.deleteButton{
	background: #c5322d;
	color: white;
}
.deleteButton:hover{
	background: white;
	border: 0.5px solid #c5322d;
	color: #c5322d;
	transition: all 0.4s;
}
.editButton{
	background: #f1f6f7;
	color: black;
	
}
.editButton:hover{
	background: white;
	transition: all 0.4s;
	border: 0.5px solid #384aeb;
	font-weight: normal;
}
.deliverButton:hover{
	background: white;
	border: 1px solid #384aeb;
	transition: all 0.2s;
}
.addressRow{
	padding-top: 0px;
	padding-bottom: 20px;
}
.newAddress{
	padding-top: 0;
}
.inputType{
	border: none;
	border-bottom: 1px solid #384aeb;
	width: 50%;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.deliverButtonAddNew{
	width: 20%;
	margin-left: 630px;
}
.deliverButtonAddNew:hover{
	background: white;
	border: 1px solid #384aeb;
	transition: all 0.2s;
}
.addressForm{
	margin-bottom: 60px;
	margin-top: 30px;
}

/*Payment Portal*/
#selectPaymentHeader{
	margin-top: 80px;
}
.otherPaymentMethod{
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 6px;
	border: 1px solid #384aeb;
	padding-top: 10px;
	padding-bottom: 10px;

}
.otherPaymentMethod:hover{
	background: #f1f6f7;
	transition: all 0.4;
	border: none;
}
.paymentMethodDiv{
	padding-left: 0px;
	padding-top: 10px;

}
.offer{
	border: 1px solid #384aeb;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin-top: 10px;
	border-radius: 6px;
	padding-bottom: 10px;
}
.offer:hover{
	background: #f1f6f7;
	color: black;
	border: none;
	transition: all 0.4s;
}
.savedCards{
	padding-left: 10px;
}
.amount{
	border: 1px solid #384aeb;
	margin-top: 10px;
	border-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:  20px;
	padding-top: 0px;
}
.amount:hover{
	background: #f1f6f7;
	border: none;
	transition: all 0.4s
}
.rowPad{
	padding-top: 0;
}
.coup{
	margin-top: 30px;
}
.btn-success{
	border-radius: 20px;
}
.btn-success:hover{
	background: white;
	color: black;
	transition: all 0.4s;
}
.btn-danger{
	/*background: #384aeb;*/
	border-radius: 20px;
	width: 90%;
	border: none;
	transition: all 0.4s;
}
.btn-danger:hover{
	background: white;
	border: 1px solid #384aeb;
	color: black;
	
}
/*Order Placed*/
.orderPlace{
	margin-top: 250px;

}
.continueShopping{
	width: 30%;
	margin-top: 50px;
}
.continueShopping:hover{
	background: white;
	border: 1px solid #384aeb;
	color: black;
}
/*Order Placed*/

/*Admin Log In*/
.btnLogIn{
	width: 30%;
	margin-bottom: 30px;
}
.adminLogin{
	margin-top: 120px;
	padding: 40px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 13px 50px -40px rgba(0,0,0,0.1),
				10px 0px 50px -40px rgba(0,0,0,0.1),
				0px -8px 50px -40px rgba(0,0,0,0.1);
	border-radius: 6px;
	border: 1px solid #384aeb;
}
/*Admin Log In*/
