#active{
    color: #30cb00;
    font-weight: bold;
}
#activeArrow{
    color: #30cb00;
    font-weight: bold;
}
#menu{
    position: relative;
}
#first{
    /* margin-bottom: 20px; */
    background-color: white;
    position: sticky;
    position: fixed;
    padding-left: 0;
    width: 260px;
    z-index: 1;
    height: 50px;
}
#brandTop{
    margin-left: 20px;
    font-weight: bold;
    color: #384aeb;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border-bottom: 1px solid grey; */
}
#lastSide{
    /* margin-top: 45px; */
    position: fixed;
    top: 600px;
    background-color: white;
    z-index: 1;
    width: 260px;
    border-top: 1px solid #efefef;
    height: 50px;
}
#logoInSidebar{
    width: 40%;
    margin-left: 20px;
    margin-top: 14px;
}
#appVer{
    font-size: 0.6em;
    margin-right: 10px;
    margin-top: 12px;
}
#sidePane{
    position: relative;
}
#menuContent{
    position: relative;
}
#menuContent{
    margin-top: 60px;
}
/* #hrInFirst{
    z-index: 1;
} */
#fakerForBorder{
    border-bottom: 1px solid #efefef;
}
.footer-icon-caption{
    font-size: 0.6em;
}


/* Form page styling */

.form-control{
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    font-size: .8em;
    color: #28519E;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button{
    margin-top: 25px;
    background-color: #00b9f1;
    color: white;
    border-radius: 5px !important;
    height: 40px;
}
.button:focus{
    border: none;
    outline: none;
}
.inp{
    border: none;
    border-bottom: 1.5px solid lightgrey;
    outline: none;
    background-color: white !important;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    height: 24px;
    width: 76%;
    margin-left: 35px;
    color: #28519E;
}
.inp:focus{
    outline: none!important;
    border: none;
    border-bottom: 1.5px solid #28519E;
    caret-color: #28519E;
}
/* .inp-curv{
    border-radius: 5px;
} */
.row{
    position: relative;
}
.fa-times-circle{
    position: absolute;
    /* padding-top: 1px; */
    font-size: 1.2em;
    right: 40px;
    margin-bottom: 5px !important;
    top: -3px;
    display: none;
    color: #DDDDDD !important;
}
.wakeup-circle{
    display: inline;
}
/* Profile Page */
.image-prof{
    height: 120px;
    width: 120px;
    margin: 10px auto;
}
.input-con{
    display: flex;
}



.input-container {
    display: flex;
    /* width: 100%; */
    /* margin-bottom: 15px; */
  }
.form-fill i{
    color: #28519E;
    margin-left: 20px;
    padding-top: 5px;
}
.form-fill hr{
    padding-bottom: 5px;
}
.form-fill p {
    margin-left: 35px;
    margin-bottom: 3px;
    margin-top: 15px;
}
.form-fill{
    margin: 0 auto;
}
.add-det{
    font-size: 0.8em;
    padding-top: 5px;
    /* position: relative; */
}

.hr-1{
    width: 200px;
    margin-left: 90px;
    top: -1px;
    position: absolute;
}
.hr-2{
    width: 192px;
    margin-left: 98px;
    top: -1px;
    position: absolute;
}
.hr-3{
    width: 215px;
    margin-left: 75px;
    top: -1px;
    position: absolute;
}
.form-fill .row{
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 15px;
    margin-right: 10px;
}
.inp-profile{
    border-bottom: none;
    color: #28519E;
}
.inp-profile:focus{
    border-bottom: none;
    /* caret-color: none; */
}

/* Edit profile  */
.change-photo-btn{
    border-radius: 20px;
    color: #28519e;
    border: 1px solid #28519e;
    outline: none;
    font-size: 0.6em;
}
.change-photo-btn:focus{
    border: 1px solid #28519E;
    border-radius: 20px;
    outline: none;
    
}
.file-upload{
    display: none;
}
#submit_form_button{
    background-color: #28519E;
}
/* .space-less-form{
    height: 20px;
} */
.row-dec{
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}
.a-tag-submit{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.thank-lottie{
    margin-top: 20%;
    margin-bottom: 0;
}
.home-button{
    background-color: #66ae57;
    margin: 0 auto;
    border: 1px solid #66ae57;
    border-radius: 5px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: white !important;
    margin-top: 20px;

}
.thankyou-text{
    color: #28519E;
    text-align: center;
    margin-top: 0 !important;
    position: absolute;
    top: -50px !important;
    left: 30px;
}
.thankyou-text h4{
    font-weight: bold;
    text-align: center;
}.thankyou-text h6{
    margin-top: 20px;
}
