
.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    font-size: 0.8em;
    color: #384aeb;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}